@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&display=swap');
table thead{
    background-color: #394555;
    color: white;
    /* border-bottom: solid 2px white; */
    border-left: solid 3px #394555;
    border-right: solid 3px #394555;
    font-size: large;
    font-family: 'Noto Sans TC', sans-serif;
  }
  tr{
    border-right: 3px solid #394555;
    border-left: 3px solid #394555;
    border-bottom: 2px solid #394555;
  }
  /* #PMTable tbody tr{
    border-right: 3px solid #394555;
    border-left: 3px solid #394555;
    border-bottom: 3px solid #394555;
  } */
  td{
    padding: 10px 0px;
    font-family: 'Noto Sans TC', sans-serif;
  }
 .time{
   font-size: 1em;
   text-align: center;
   padding-left: 2px;
   text-indent: 6px;
 }
 .topic{
   font-size: 1em;
   font-weight: 500;
   padding-right: 5px;
   padding-left: 2em;
 }
 .speaker{
    padding-right: 5px;
    padding-left: 5px;
 }
 .headTopic{
   letter-spacing: 3em;
   padding-left: 2em;
   text-align: center;
   width: auto;
 }
 tbody .session{
   font-weight: 700;
   background-color: #52647b;
   color: whitesmoke;
   font-size: 1.3em;
 }
 tbody .tableContent:hover{
   background-color: #5d7680;
   opacity: 0.7;
   color: white;
   cursor: pointer;
 }
 .ch1, .ch1D{
    background-color: #fde9d980;
 }
 .ch2, .ch2D{
    background-color: #daeef380;
 }
 .ch3, .ch3D{
    background-color: #e5dfec80;
 }
 .ch4, .ch4D{
    background-color: #eaf1dd80;
 }
 .ch5, .ch5D{
    background-color: #ffffcc80;
 }
 .ch67, .ch67D{
    background-color: #f2dbdb80;
 }
 .ch8, .ch8D{
    background-color: #dbe5f180;
 }
 .ch9, .ch9D{
    background-color: #ddd9c380;
 }
 .intCh1, .intCh1D{
    background-color: #c6d9f180;
 }
 .intCh2, .intCh2D{
    background-color: #fff2cc80;
 }
 .intCh3, .intCh3D{
    background-color: #e2efd980;
 }